<div class="container">
    <div class="col-md-8 offset-2">
        <h2 class="text-center"> EMPLOYEE FORM</h2>
        <form action="" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" class="form-control" id="fullName" placeholder="Your Full Name*"
                    formControlName="fullName">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Your email*" formControlName="email">
            </div>
            <button type="submit" class="btn btn-primary">REGISTER ME</button>
        </form>
    </div>
</div>